/* header */
header {
  background-color: #224d82;
  opacity: 0.6;

}
/* end of header */

/* h1 */
h1 {
  font-size: 3rem;
  color: #ffffff;
  font-family: cursive;
  text-align: center;
}

.box-b {
  background-color: ;
  background-image: url(../img/night-tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* end of h1 */
li {
  font-family: serif;
  font-weight: 800;
  color: #fff;
  list-style: none;
}

p {
  font-family: serif;
  color: #fff;
}

/* paragraph box */
.box-p1 {
  float: left;
  width: 25%;
  height: 280px;
  padding: 20px;
}

.box-p2 {
  float: left;
  width: 25%;
  height: 280px;
  padding: 20px;
}
/* end paragraph box */
