/* header */
header {
  background-color: #224d82;

}
/* end of header */

/* h1 */
h1 {
  font-size: 3rem;
  color: #ffffff;
  font-family: cursive;
  text-align: center;
}

.box-b {
  background-color: ;
  background-image: url(../img/night-tree.jpg);
  background-size: cover;

}

/* end of h1 */
li {
  text-decoration: none;
}

/* paragraph box */
.box-p1 {
  padding: 0px;
  margin: 25px;
  border: pink;

}
/* end paragraph box */
