/* header */
header {
  background-color: #224d82;
  opacity: 0.6;

}
/* end of header */

/* h1 */
h1 {
  font-size: 3rem;
  color: #ffffff;
  font-family: cursive;
  text-align: center;
}
/* end of h1 */

body {
  background-color: #2c95c9;
  /* background-image: url(../img/night-tree.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

a {
  color: #cf8a30;
}

a:link {
  text-decoration: none;
  text-align: left;
}

a:visited {
  text-decoration: none;
}


/* Navigation list */

li {
  font-family: behold;
  font-weight: 800;
  color: #f4f4f4;
  list-style: none;
}
/* end of Navigation list */

/* paragraph */
p {
  font-family: serif;
  color: #fff;
}
/* end of paragraph */

/* paragraph box */
.box-p1 {
  float: left;
  width: 300px;
  height: 100px;
  padding: 20px;
}

.box-p2 {
  float: left;
  width: 25%;
  height: 280px;
  padding: 20px;
}
/* end paragraph box */
